<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="index.html" class="login-form">
                <h1>Login</h1>
            
                <div class="textb">
                    <input type ="email" [(ngModel)] ="user.email" >
                    
            
                </div>
            
                <div class="textb">
                    <input input  type ="password"  [(ngModel)] ="user.password" >
                   
            
                </div>
                <input type="submit" class="logbtn" value="Login">
            
                <div class="bottom-text">
                    Don't have account? <a  routerLink="/Rooms" (click) = "fun(user)">Log In</a>
                </div>
            
            
            </form>
            
</body>
</html>
